@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Pangolin&display=swap');
html {
  background-color: #f2f2f2;
  overflow-x: hidden;
  font-family: 'Do Hyeon', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
.app {
  padding: 0;
  background-color: #f2f2f2;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.app__head {
  font-family: 'Pangolin', cursive;
  height: 15vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 10px;
  background-color: #2d4059;
  display: flex;
  align-items :flex-start;
  justify-content: center;
  color: #62d2a2;
}
.app__name {
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 50px;
}
.acknowledgement{
  width: 8vh;
  height:8vh;
  object-fit: contain;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #3e8164;
}
@media screen and (max-width: 550px){
  .acknowledgement {
    width: 8vw;
    height:8vw;
    top: 20px;
  }
}