@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Poppins:wght@300&display=swap');
.main {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width: 70vw;
    min-height: 80vh;
    min-width: 250px;
    background-color: #fff;
    z-index: 5;
    top: 80px;
    margin: 0 14%;
    border-radius: 10px;
    box-shadow: 12px 19px 62px -34px #311d3f2d;
    -webkit-box-shadow: 12px 19px 62px -34px #311d3f2d;
    -moz-box-shadow: 12px 19px 62px -34px #311d3f2d;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.main__head {
    flex: 0.1;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.main__head > div {
    font-size: 1.5rem;
    padding: 10px 15px;
    font-weight: 600;
}
.main__head__movie {
    color : #00b8a9;
}
.main__head__movie.active {
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #00b8a9;
}
.main__head__movie:hover {
    background-color: #00b8a9;
    color: #fff;
    cursor: pointer;
}
.main__head__tv {
    color : #ea5455;
}
.main__head__tv.active {
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #ea5455;
}
.main__head__tv:hover {
    background-color: #ea5455;
    color: #fff;
    cursor: pointer;
}
.main__body {
    flex: 0.9;
    margin: 0 auto;
    margin-top: 15px;
    width: 80%;
}

@media screen and (max-width: 950px) {
    .main{
        width: 100vw;
        margin: 0;
    }
    .main__body {
        width: 95%;
    }
}