.profile {
    width: 50%;
    height: 50vh;
    
    min-width: 200px;
    background: rgba( 76, 76, 76, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 10.0px );
    border-radius: 10px;
    border: transparent;
    color: #000;
    overflow: hidden;
    margin: 0 10px;
    position: relative;
    border-radius: 10px;
    background-size: contain !important;
}
.profile__name {
    position: absolute;
    bottom: 0;
    padding: 5px;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    font-weight: 600;
}
@media screen and (max-width: 650px){
    .profile {
        height : 40vh;
        background-size: cover !important;
    }
} 