.cast {
    display: flex;
    align-items: center;
    overflow: auto;
    overflow-x: scroll;
    white-space: nowrap;
    position: relative;
    scroll-behavior: smooth;
    height: 50vh;
    background-color: transparent;
}