.cast {
    height: 60vh;
    background-color: transparent;
}

@media screen and (max-width: 720px){
    .cast::before {
        color: #fff;
        font-size: 14px;
        content :"Touch a card for more";
    }
}