.searchWatchWhere {
    height: 40px;
    width: fit-content;
    padding: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: #00b8a9;
    color: #001229;
    font-size: 24px;
    font-weight: 600;
    margin: 5px 20px 60px 40px;
}
.searchWatchWhere:hover {
    cursor: pointer;
    background-color: #2d4059;
    color: #00b8a9;
}